<%- include('./partials/header') -%>
<h1 class="text-primary"><%= title %></h1>

    <% if (category_items.length) { %> 
        <p>Delete the following items before deleting the category.</p>
        <div>
            <dl>
                <% category_items.forEach((item, index) => { %>
                    <dt>
                        <a href="<%=item.url%>"><%=item.name%></a>
                    </dt>
                    <dd>
                        <%= item.description %>
                    </dd>
                <% }) %>
            </dl>
        </div>
    <% } else {%>
        <p>Are you sure you want to delete this category?</p>
        <form method="POST">
            <input type="hidden" name="category_id" value="<%=category._id%>">
            <button type="submit" class="text-danger">Delete</button>
        </form>
    <% } %>
<%- include('./partials/footer') -%>
