<%- include('./partials/header') -%>
<h1 class="text-primary"><%= title %></h1>

<form method="post" enctype="multipart/form-data">
    <div>
        <label for="name" >
            Name:
        </label>
        <input type="text" name="name" id="name" required value="<%- (item ? item.name : '') %>">
    </div>
    
    <!-- Description (text) -->
    <div>
        <label for="description">
            Description:
        </label>
        <input type="text" name="description" id="description" required value="<%- (item ? item.description : '') %>">
    </div>

    <!-- Category (select) -->
    <div>
        <label for="category">
            Category
        </label>
        <select required id="category" name="category">
            <option value="">--None Selected--</option>
            <% if (category && category.length ) { %>
                <% category.forEach(cat => { %>
                    <option value="<%- cat._id %>" <% if (item && item.category?.toString() == cat._id.toString()) { %>selected<% } %>><%= cat.name %></option>
        
                <% }) %>
            <% } %>
        </select>

    </div>

    <!-- Price (numeric) -->
    <div>
        <label for="price">
            Price:
        </label>
        <input type="number" name="price" id="price" required min="0" step="any" value="<%= (item ? item.price : "") %>">
    </div>

    <!-- image -->
    <div class="d-flex flex-column">
        <label for="item_image">Image:</label>
        <input type="file" name="item_image" id="item_image" onchange="previewImage(event)">
        <div class="img-container">
            <img id="item-image" class="item-image <%= !item ? 'd-none' : ''%>" src="<%= item?.imageurl?.url %>" >
            <button type="button" class="clear-image" onclick="clearInput(event)">&times;</button>
        </div>
        <input hidden type="checkbox" name="clear_image" id="clear_image" >
    </div>

    <% if (title.toLowerCase().search("create") >= 0 ) { %>
        <button type="submit">Create Item</button>
    <% } else { %>
        <button type="submit">Update Item</button>
    <% } %>
</form>




<% if (typeof errors != "undefined" && errors.length) { %>
    <ul>
    <% errors.forEach(error => { %> 
       <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>


<script>
    function clearInput(event) {
        const preview = document.getElementById('item-image'); 
        preview.src = ""; 

        const fileInput = document.getElementById("item_image");
        fileInput.value = null; 
        const clearImage = document.getElementById("clear_image");
        clearImage.checked = true;
    }
    
    function previewImage(event) {
        const fileInput = event.target; 
        const file = fileInput.files[0];
        const reader = new FileReader(); 

        reader.onload = function() {
            const preview = document.getElementById('item-image'); 
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file)
        }

        const clearImage = document.getElementById("clear_image");
        clearImage.checked = false;
    }

</script>

    
<%- include('./partials/footer') -%>
