<%- include('./partials/header') -%>
<h1 class="text-primary"><%= title %></h1>


<% if (typeof iteminstances != "undefined" && iteminstances.length) { %>
    <p>Delete the following item instances before deleting the category.</p>
    <div>
        <dl>
            <% iteminstances.forEach(instance => { %>
                <dt>
                    <a href="<%=instance.url%>"><%=instance._id%></a>
                </dt>
                <dd>
                    Sold: <%=instance.sold%> 
                </dd>

            <% }) %>
        </dl>
    </div>


<% } else {%>
    <p>Are you sure you want to delete this item?</p>
    <form method="POST">
        <input type="hidden" name="item_id" value="<%=item._id%>">
        <button type="submit" class="text-danger">Delete</button>
    </form>

<% } %>
<%- include('./partials/footer') -%>
