<%- include('./partials/header') -%>
<h1 class="text-primary"><%= title %></h1>

<form method="post" enctype="multipart/form-data">
    <div class="d-grid grid-col-3 grid-col-auto-sm justify-content-none-sm grid-row-auto gap-3 mt-3 mb-3 align-items-center justify-content-evenly">
        <div class="input-group">
            <input type="text" name="name" id="name"  placeholder=" " class="w-100" required value="<%- (pet ? pet.name : '') %>">
            <label for="name" >
                Name*
            </label>
        </div>
        <!-- Species (select) -->
        <div class="input-group">
            <select required id="species" name="species" onchange="onSelectChange(event)" class="w-100">
                <option value=""></option>
                <% if (species && species.length ) { %>
                    <% species.forEach(species => { %>
                        <option value="<%- species._id %>" <% if (pet && pet.species?.toString() == species._id.toString()) { %>selected<% } %>><%= species.name %></option>
            
                    <% }) %>
                <% } %>
            </select>
            <label for="species" class="<%= (pet && pet.species ? 'move-out-of-way' : '') %>">
                Species*
            </label>
        </div>
    
        <!-- Gender -->
        <div class="input-group">
            
            <select required id="gender" name="gender" class="w-100" onchange="onSelectChange(event)">
                <option value=""></option>
                <option value="M" <%= pet?.gender == 'M' ? 'Selected' : '' %> >Male</option>
                <option value="F" <%= pet?.gender == 'F' ? 'Selected' : '' %> >Female</option>
                <option value="N/A" <%= pet?.gender == 'N/A' ? 'Selected' : '' %> >Unknonwn</option>
            </select>
            <label for="gender" class="<%= (pet && pet.gender ? 'move-out-of-way' : '') %>">
                Gender*
            </label>
        </div>
    
        <!-- DOB -->
        <div class="input-group">
            <input type="date" id="dob" name="dob" class="w-100" placeholder=" " value="<%= pet ? pet.dob.toISOString().substr(0,10) : '' %>" >
            <label for="dob" title="date of birth">
                DOB*
            </label>
        </div>
    
        <!-- Number of legs -->
        <div class="input-group">
            <input type="number" id="num_of_legs" placeholder=" " class="w-100" name="num_of_legs" value="<%= pet ? pet.num_of_legs : '' %>" min="0" step="1">
            <label for="num_of_legs" title="Number of legs">
                # Legs*
            </label>
        </div>
        
        <!-- Colour -->
        <div class="input-group">
            <input type="text" id="color" name="color" placeholder=" " class="w-100" value="<%= pet ? pet.color : '' %>" >
            <label for="color" >
                Color*
            </label>
        </div>


        <!-- Description (text) -->
        <div class="input-group">
            <input type="text" name="description" id="description" placeholder=" " class="w-100" required value="<%- (pet ? pet.description : '') %>">
            <label for="description">
                Description:
            </label>
        </div>

    </div>


    <!-- image -->
    <div class="d-flex flex-column" style="max-width: max-content">
        <label for="pet_image">Image:</label>
        <input type="file" name="pet_image" class="btn mt-2 mb-2" id="pet_image" onchange="previewImage(event)">
        <div class="img-container">
            <img id="pet-image" class="pet-image" src="<%= pet?.imageurl?.url %>" >
            <button type="button" class="clear-image" onclick="clearInput(event)">&times;</button>
        </div>
        <input hidden type="checkbox" name="clear_image" id="clear_image" >
    </div>

    <% if (title.toLowerCase().search("create") >= 0 ) { %>
        <button type="submit" class="btn mt-3 mb-3">Create</button>
    <% } else { %>
        <button type="submit" class="btn mt-3 mb-2">Update</button>
    <% } %>
</form>




<% if (typeof errors != "undefined" && errors.length) { %>
    <ul>
    <% errors.forEach(error => { %> 
       <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>


<script>

    function onSelectChange(event) {
        const label = event.srcElement.nextElementSibling; 
        if(event.target.selectedIndex == 0) {
            label.classList.remove('move-out-of-way')
        } else {
            label.classList.add('move-out-of-way')
        }
    }
    
    function clearInput(event) {
        const preview = document.getElementById('pet-image'); 
        preview.src = ""; 

        const fileInput = document.getElementById("pet_image");
        fileInput.value = null; 
        const clearImage = document.getElementById("clear_image");
        clearImage.checked = true;
    }
    
    function previewImage(event) {
        const fileInput = event.target; 
        const file = fileInput.files[0];
        const reader = new FileReader(); 

        reader.onload = function() {
            const preview = document.getElementById('pet-image'); 
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file)
        }

        const clearImage = document.getElementById("clear_image");
        clearImage.checked = false;
    }

</script>

    
<%- include('./partials/footer') -%>
