<%- include('./partials/header') -%>
<div class="d-flex align-items-center justify-content-between mb-4">
    <h1 class="text-primary">Pets</h1>
    <a href="/catalog/pet/create" class="link-none mt-2 btn">Create</a>
</div>


    <form name="filterForm" method="POST" class="filter-container d-flex align-items-center">
        <div class="pill me-2 d-flex align-items-center justify-content-center">
            <select name="species" class="pill-select" onchange="submitForm()">
                <option value="">Species</option>
                <% species.forEach((s, index) => { %>
                    <option value="<%= s._id %>" <%= filterOptions?.species?.toString() == s._id.toString() ?  'selected' : ''  %>> <%= s.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="pill me-2"></div>
        <div class="pill me-2"></div>
    </form>
    <% if(pets.length) { %>
        <div class="d-grid grid-col-auto-300 mt-3 gap-3">
            <% pets.forEach((pet,index) => {%>
                <%- include('./partials/card', {pets: [pet] }) %>
            <% })%>
        </div>
    <% } else { %>
        <p class="mt-2">
            <strong>There are no pets.</strong>
        </p>
        
    <% } %>
<%- include('./partials/footer') -%>

<script>
    function submitForm() {
        console.log("submitting form...");
        document.filterForm.submit(); 
    }
</script>